main {
  max-width: 100%;
  
  #contact {
    margin: 5rem 10rem;
    display: flex;
    justify-content: flex-start;
    gap: 4rem;

    h2 {
      margin-bottom: 2.5rem;
      font-size: 2.4rem;
      font-weight: 300;
      color: #90f208;
    }

    .socialMedia {
      margin-bottom: 2rem;
      max-width: 25%;

      .iconBox {
        display: grid;
        justify-content: flex-start;
        gap: 2rem;

        .iconContainer {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
      
          .icon {
            height: 50px;
            border-radius: 50%;
            padding: 0.2rem;
            background-color: #f3f1ee;
            cursor: pointer;
            transition: 0.2s ease-out;
          }

          .icon:hover {
            background-color: #90f208;
          }

          .iconText {
            transform: translateY(-50%), scaleX(0);
            transform-origin: left;
            background-color: #252422;
            border-radius: 2rem;
            color: #252422;
            font-size: 1.8rem;
            font-weight: 400;
            padding: 1rem;
            white-space: nowrap;
            z-index: 1;
            opacity: 0;
            transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
            width: auto;
            text-align: center;
          }
        }

        .iconContainer:hover .iconText {
          background-color: #90f208;
          color: #000;
          transform: translateY(-50%), scaleX(1);
          opacity: 1;
        }
      }
    }

    hr {
      transform: rotate(180deg);
    }
    .msg {

      .msgBox {
        width: fit-content;
        display: grid;
        justify-content: flex-end;
        border: #f3f1ff solid 1px;
        border-radius: 2rem;
        padding: 0rem 1rem 1rem 1rem;

        label {
          font-size: 1.5rem;
          margin: 1rem 0;
        }

        input {
          background-color: #252422;
          border: #f3f1ee solid 1px;
          border-radius: 3rem;
          padding: 0.5rem 1rem;
          font-size: 1.5rem;
          transition: 0.2s ease-in-out;
        }

        textarea {
          margin: 10px 0;
          background-color: #252422;
          border: #f3f1ee solid 1px;
          border-radius: 1.5rem;
          padding: 0.5rem 1rem;
          font-size: 1.5rem;
          font-weight: 100;
          color: #f3f1ee;
          transition: 0.2s ease-in-out;
        }

        input:hover, textarea:hover {
          border: #90f208 solid 1px;
        }

        input:focus, textarea:focus {
          border: #90f208 solid 1px;
          color: #f3f1ff;
        }

        button {
          max-width: 30%;
          background-color: #252422;
          border: #f3f1ee solid 1px;
          border-radius: 1.4rem;
          padding: 0.7rem;
          color: #f3f1ee;
          font-size: 1.5rem;
          font-weight: 100;
          cursor: pointer;
          transition: 0.2s ease-in-out;
        }

        button:hover {
          border: #90f208 solid 1px;
          color: #90f208;
        }
      }
    }
  }
}